	@font-face {
font-family: "StylusBT"; 
src: url("stylus_bt/stylu.ttf") format("truetype"); 
}
body,ul,.banner .prongs{
	margin: 0 auto;
	padding: 0;
}
body{
	width: 1250px;
}
ul{list-style-type: none;}
a{
	text-decoration: none;
	color: rgb(108, 108, 108);
}
.logo img {
  position: absolute;
  margin-left: 20px;
  margin-top: 25px;
  width: 44px;
  height: 44px;
}
.mobile {
  font-size: 60px;
  font-family: "Jokerman";
  color: rgb(80, 148, 242);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  margin-left:80px;
  margin-top:8px;
}
.menu {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  font-family: "Jokerman";
  line-height: 1.2;
  margin-top: 30px;
}
.menu a:hover{
	color: rgb(108, 108, 108);
	border-bottom: 3px solid #5094f2;
	padding-bottom: 13px;
}
.container-fluid {
	margin-top: 20px;
	background-image: url("img/bg_header.png");
	background-size: 100%;
	margin-bottom: 70px;
}

img.d-block  {
  margin-left: 125px;
  margin-top: 30px;
  width: 345px;
  height: 436px;
}
img.prongs{
	margin-top: 5px;
}
.carousel-caption{
	top:20%;
	left: 50%;
	text-align: left;
}
.carousel-caption h5{font-size: 35px;
font-family: "Stylus BT";}
.carousel-caption p {
  font-size: 25px;
  font-family: "Stylus BT";
  color: #fff;
}

.btn-primary{
	background-color: #5094f2;
	border:none;
	font-family: "Stylus BT";
	width: 50%;
}
.btn-primary img {
  margin: 0 5px;
  width: 20px;
  height: 20px;
 }
.carousel-control-prev-icon {
   background-image: url("img/before.png");
  width: 30px;
  height: 72px;
  margin-left: -165px;
}
.carousel-control-next-icon{
	 background-image: url("img/afore.png");
  width: 30px;
  height: 72px;
  margin-left: 120px;
}
.list div{
	padding-left: 100px;
}
.list div:nth-child(1) h1,
.list div:nth-child(2) h1,
.list div:nth-child(3) h1 {
  font-size: 28px;
  font-family: "Stylus BT";
  color: rgb(80, 148, 242);
  line-height: 1.5;
  text-align: left;
}
.list div:nth-child(1) p,
.list div:nth-child(2) p,
.list div:nth-child(3) p{
  font-size: 18px;
  font-family: "Segoe Print";
  color: rgb(144, 144, 144);
  line-height: 1.2;
  text-align: center;
  margin-left: -30px;
}
.list div:nth-child(1) p,
.list div:nth-child(3) p{
  width: 250px;
}

.list div:nth-child(2) h1,
.list div:nth-child(3) h1{
	margin-left: 70px;
}
.list div:nth-child(2) p{
  width: 252px;
}


